h1 {
  font-size: 10rem;
}

h2 {
  font-size: 7.5rem;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 2.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  background-color: rgb(255, 255, 255);
  font-size: 62.5%;
}

body {
  height: 700vh;
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  z-index: 1;
  font-size: 2rem;
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
}

.logo-navbar img {
  margin-top: 1.5rem;
  height: 5rem;
  width: 5rem;
}

.logo-header {
  height: 15rem;
  width: 15rem;
}

/* Style the header: fixed position (always stay at the top) */
.progress {
  position: fixed;
  margin-top: 7rem;
  z-index: 1;
  width: 100%;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 10px;
  background: rgb(255, 255, 255);
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 10px;
  background: #e3e3e4;
  width: 0%;
}

.header {
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
}

.vid-header {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
}

.info-header {
  position: absolute;
  height: 100rem;
  width: 50%;
  color: rgb(255, 255, 255);
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.vid-header video {
  width: 100%;
}

.development {
  height: 100rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.left-development {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
}

.right-development {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 40%;
}

.right-development-div1 {
  height: 50%;
  width: 40%;
  background-color: #e3e3e4;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.right-development-div2 {
  height: 50%;
  width: 40%;
  background-color: #8accc6;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.right-development-div3 {
  height: 50%;
  width: 40%;
  background-color: #fbd636;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.right-development-div4 {
  height: 50%;
  width: 40%;
  background-color: #e3e3e4;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.right-development img {
  height: 20rem;
  width: 20rem;
}

.left-development img {
  height: 70rem;
  width: auto;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.apps {
  height: 100rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.apps-php {
  margin-top: 10rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 5rem;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: #9f1aac solid 1rem;
  border-radius: 3rem;
  border-bottom-left-radius: 10rem;
  border-top-right-radius: 10rem;
  background-color: #e3e3e4;
}

.apps-vsc {
  margin-top: 10rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 5rem;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: #6d63c2 solid 1rem;
  border-radius: 3rem;
  border-bottom-left-radius: 10rem;
  border-top-right-radius: 10rem;
  background-color: #e3e3e4;
}

.apps img {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 25%;
  height: auto;
}

.carousel {
  height: 100vh;
  width: 100%;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translatey(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

/*# sourceMappingURL=main.css.map */
